{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block body %}
<div class="container mt-4">
    <!-- Bienvenida -->
    <div class="text-center mb-5">
        <h1>Bienvenido a la Plataforma de Gestión</h1>
        <p class="lead mt-3">
            En esta plataforma puedes gestionar productos, pacientes y recetas médicas de manera eficiente. 
            Navega por los módulos disponibles para realizar las acciones necesarias.
        </p>
    </div>

    <!-- Módulos -->
    <div class="row justify-content-center">
        <!-- Módulo Productos -->
        <div class="col-md-4">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Módulo farmacia</h5>
                    <p class="card-text">Administra los productos disponibles en el sistema.</p>
                    <a href="{% url 'menu_productos' %}" class="btn btn-primary btn-sm">Ir a Productos</a>
                </div>
            </div>
        </div>

        <!-- Módulo Pacientes -->
        <div class="col-md-4">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Módulo Pacientes</h5>
                    <p class="card-text">Consulta, visualiza recetas y solicita despacho a domicilio</p>
                    <a href="{% url 'menu_paciente' %}" class="btn btn-success btn-sm">Ir a Pacientes</a>
                </div>
            </div>
        </div>

        <!-- Módulo Médicos -->
        <div class="col-md-4">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Módulo Médico</h5>
                    <p class="card-text">Crea y administra recetas médicas para los pacientes.</p>
                    <a href="{% url 'menu_medico' %}" class="btn btn-secondary btn-sm">Ir a Médicos</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}